<input type="checkbox" id="burger" class="dn">

<div id="menu" class="fixed mt5 z-max top-0 dark-gray f5 bg-white shadow-1 right-0 mr3 sans-serif">
    <a class="db link dark-gray pv3 ph4" href="/">Principal</a>
    <a class="db link dark-gray pv3 ph4" href="/noticias">Noticias</a>
    <a class="db link dark-gray pv3 ph4" href="/descargas">Descargas</a>
    <a class="db link dark-gray pv3 ph4" href="/documentacion">Documentación</a>
    <a class="db link dark-gray pv3 ph4" href="/foro">Foro</a>
    <a class="db link dark-gray pv3 ph4" href="/videos">Videos</a>
    <a class="db link dark-gray pv3 ph4" href="/galeria">Galería</a>
</div>

<nav class="fixed z-999 bg-white db w-100 shadow-1 border-box pa0 sans-serif flex items-center">


  <a href="/" class="v-mid mid-gray link w5 pl3 pv2" href="#" title="home">
    <img class="logo" width="183" height="64" src="/logo-de-pilas.svg">
  </a>

  <div class="v-mid w-100 tr dn db-l">
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/">Principal</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/noticias">Noticias</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/descargas">Descargas</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/documentacion">Documentación</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/foro">Foro</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/videos">Videos</a>
    <a class="link source-sans-pro dim dark-gray f5 dib ph2 pt3 pb3" href="/galeria">Galería</a>
  </div>

	<div class="dn-l tr flex-auto">
		<label for="burger" class="pr2 f2 pointer unselectable ">
			☰
		</label>
	</div>



<style>
  .menu {
    min-height: 2.8rem; /* no way to control min height in Tachyons */
    max-height: 0; /* hide menu completely when burger unchecked */
    transition: max-height 0.5s; /* show/hide menu transition */
  }

	.unselectable {
		user-select: none;
	}

  #burger:checked .menu {
		position: fixed;
  }

	#menu {
		display: none;
	}

  #burger:checked ~ #menu {
		display: block;
  }

</style>

</nav>
