<nav class="db w-100 shadow-1 border-box pa0 sans-serif flex items-center">

  <a href="/" class="v-mid mid-gray link w5 pl3 pv2" href="#" title="home">
    <img class="logo" width="183" height="64" src="/logo-de-pilas.svg">
  </a>

  <div class="v-mid w-100 tr truncate">
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/">Principal</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/noticias">Noticias</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/descargas">Descargas</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/documentacion">Documentación</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/foro">Foro</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/videos">Videos</a>
    <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3" href="/galeria">Galería</a>
  </div>

</nav>
